---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: dashboard-env
  namespace: {CLUSTER_NAME}
  annotations:
    secret: dashboard-env
stringData:
  gateway.sh: ''
  terminal.sh: ''
  workshop.sh: |-
    KUBEADMIN_PASSWORD={KUBEADMIN_PASSWORD}
    API_URL=https://api.{BASE_URL}:6443
    ROUTE_SUBDOMAIN=apps.{BASE_URL}
    MASTER_URL=https://console-openshift-console.apps.{BASE_URL}/
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: workshop-ocp-odf-admin-{CLUSTER_NAME}
  namespace: workshop-ocp-odf-admin
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  descriptor: {}
  selector:
    matchExpressions:
      - key: workshop
        operator: In
        values:
          - dashboard-env-{CLUSTER_NAME}
---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  name: dashboard-env
  namespace: {CLUSTER_NAME}
spec:
  type: Namespace
  pathname: {CLUSTER_NAME}
  sourceNamespaces:
    - {CLUSTER_NAME}
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: placement-dashboard-env-{CLUSTER_NAME}
  namespace: workshop-ocp-odf-admin
spec:
  clusterConditions:
  - status: "True"
    type: ManagedClusterConditionAvailable
  clusterSelector:
    matchLabels:
      name: {CLUSTER_NAME}
---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: dashboard-env-{CLUSTER_NAME}
  namespace: workshop-ocp-odf-admin
  labels:
    workshop: dashboard-env-{CLUSTER_NAME}
spec:
  channel: {CLUSTER_NAME}/dashboard-env
  packageFilter:
    annotations:
      secret: dashboard-env
  placement:
    placementRef:
      kind: PlacementRule
      name: placement-dashboard-env-{CLUSTER_NAME}
