apiVersion: v1                      
kind: Namespace
metadata:
  name: CLUSTERNAME
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: 'CLUSTERNAME'
  namespace: 'CLUSTERNAME'
  labels:
    cloud: 'AWS'
    region: 'us-east-2'
    vendor: 'OpenShift'
spec:
  baseDomain: BASE_DOMAIN
  clusterName: 'CLUSTERNAME'
  controlPlaneConfig:
    servingCertificates: {}
  installAttemptsLimit: 1
  installed: false
  platform:
    aws:
      credentialsSecretRef:
        name: CLUSTERNAME-aws-creds
      region: us-east-2
  provisioning:
    installConfigSecretRef:
      name: CLUSTERNAME-install-config
    sshPrivateKeySecretRef:
      name: CLUSTERNAME-ssh-private-key
    imageSetRef:
      name: img4.7.33-x86-64-appsub
  pullSecretRef:
    name: CLUSTERNAME-pull-secret
---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  labels:
    cloud: Amazon
    region: us-east-2
    name: 'CLUSTERNAME'
    vendor: OpenShift
    LABEL
  name: 'CLUSTERNAME'
spec:
  hubAcceptsClient: true
---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: CLUSTERNAME-worker
  namespace: 'CLUSTERNAME'
spec:
  clusterDeploymentRef:
    name: 'CLUSTERNAME'
  name: worker
  platform:
    aws:
      rootVolume:
        iops: 2000
        size: 100
        type: io1
      type: m5.xlarge
  replicas: WORKER_NODES
---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: CLUSTERNAME-infra
  namespace: 'CLUSTERNAME'
spec:
  clusterDeploymentRef:
    name: 'CLUSTERNAME'
  name: infra
  platform:
    aws:
      rootVolume:
        iops: 2000
        size: 100
        type: io1
      type: i3.2xlarge
  replicas: INFRA_NODES
---
apiVersion: v1
kind: Secret
metadata:
  name: CLUSTERNAME-pull-secret
  namespace: 'CLUSTERNAME'
stringData:
  .dockerconfigjson: |-
    DOCKER_CONFIG_JSON
type: kubernetes.io/dockerconfigjson
---
apiVersion: v1
kind: Secret
metadata:
  name: CLUSTERNAME-install-config
  namespace: 'CLUSTERNAME'
type: Opaque
data:
  # Base64 encoding of install-config yaml
  install-config.yaml: INSTALL_CONFIG
---
apiVersion: v1
kind: Secret
metadata:
  name: CLUSTERNAME-ssh-private-key
  namespace: 'CLUSTERNAME'
stringData:
  ssh-privatekey: |-
SSH_PRIVATE_KEY
type: Opaque
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: CLUSTERNAME-aws-creds
  namespace: 'CLUSTERNAME'
stringData:
  aws_access_key_id: AWS_ACCESS_KEY_ID
  aws_secret_access_key: AWS_SECRET_ACCESS_KEY
---
apiVersion: agent.open-cluster-management.io/v1
kind: KlusterletAddonConfig
metadata:
  name: 'CLUSTERNAME'
  namespace: 'CLUSTERNAME'
spec:
  clusterName: 'CLUSTERNAME'
  clusterNamespace: 'CLUSTERNAME'
  clusterLabels:
    cloud: Amazon
    vendor: OpenShift
  applicationManager:
    enabled: true
  policyController:
    enabled: true
  searchCollector:
    enabled: true
  certPolicyController:
    enabled: true
  iamPolicyController:
    enabled: true
